@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&family=Roboto&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  text-decoration: none;
  color: black; 
}


body {
  font-family:'Poppins','Roboto','Montserrat', sans-serif;
  width: 100%;
  margin: 0 auto;
  
  
}


/*Поиск соревнований*/
.comps_list {
  text-align: center;
  height: 90%;
}

.comps_list_search {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}
.comps_list .header {
  position: fixed;
  /* height: 100px; */
  padding: 10px 0px;
  width: 100vw;
  z-index: 3;
  background-color:lightgreen;
  text-align: center;
  display: flex;
  justify-content: center;
}

.header_content {
  width: 50%;
  text-align: center;
}
.comps_content {
  padding-top: 100px;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
}
.comp_item {
  display: flex;
  justify-content:space-between;
  height: 5vh;
  width: 100%;
  align-items: center;
  background-color:linen;
  padding: 0px 5px;
  border-radius: 10px;
  margin: 5px 0px;
}

.comp_item_btns {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.comp_item_btn {
  padding: 5px 10px;
  border-radius: 15px;
  border: 0;
  outline: 1px solud black;
  background-color: white;
}
.comp_item_btn:hover {
  background-color:lightskyblue;
}

.search_input {
  border: none;
  border-radius: 15px;
  outline: 0;
  text-align: center;
}

select {
  outline:0;
  border:none;
  border: none;
  appearance: none;
  text-align: center;
  padding: 0px 10px; 
  border-radius: 15px ;
  overscroll-behavior: contain;
}

/* Loader */
.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ring {
  position:absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px grey;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px lightgray;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px darkgray;
  }
}

.ring:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255,255,255,1)
}
span {
  color: black;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
}

/*Страница со статистикой соревнований*/
.matches {
  height: 90%;
}
.search_panel {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color:lightgreen;
  /* height: 100px; */
  padding: 10px 0px;
}

label {
  margin-right: 3px;
}

form {
width: 60%;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding: 10px 0px;
}
.form div {
  
  display: flex;
  justify-content: start;
  width: 100%;
  padding: 5px 0px;
  
}

.match_list {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


.match_item {
  width: 50%;
  margin: 20px auto;
  /* border: 1px solid black; */
  /* border: 1px solid black; */
  /* border-bottom: 1px solid grey; */
  background-color: white;
  padding: 0.5% 0%;
  box-shadow: 1px 2px 5px darkgray;
  transition: 1s;
}

.match_item_date {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  
  /* border: 1px solid black; */
}
.match_item_main {
  display: flex;
  justify-content: center;
  line-height: 25px;
}
.match_item_home_team, .match_item_away_team {
  width: 35%;
  /* border: 1px solid black; */
  font-size: 14px;
  vertical-align: middle;
}
.match_item_home_team_score, .match_item_away_team_score {
  width: 5%;
  /* border: 1px solid black; */
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  font-weight: bold;
}
.match_item_delta {
  width: 5%;
  /* border: 1px solid black; */
  text-align: center;
}
.match_item_home_team {
  text-align: right;
}
.match_name_half {
  text-align: center;
  font-size: 12px;
}

.search_btns {
  
  
  
  
  
}

/* Кнопка Find and Clear */
.btn {
  appearance: none;
  margin: 0px 5px;
  padding: 5px 20px;
  letter-spacing: 2px;
  border: none;
  outline: none;
  border-radius: 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: lightgoldenrodyellow ;
  text-decoration: none;
  color: black;
  text-align: center;
  cursor: pointer;
}







/*Страница со списком команд*/

.teams_list {
  width: 70%;
  margin: 0 auto;
  
}
.teams_list h1 {
  text-align: center;
}

.team_description {
  display: flex;
  justify-content:left;
  overflow: hidden;
  height: 0;
  /* overflow-y: auto; */
  background-color:white;
  transition: 0.5s;
  padding: 0px 10px;
  
  
}

.team_description p {
  line-height: 25px;
}

.team_item.active .team_description {
  height: 135px;
  padding: 5px 10px;
  
}



@media screen and (max-width:1010px) {
  .header {
    font-size: 70%;
  }

  .comps_content {
    width: 95vw;
    padding-top: 140px;
    
  }

  .comps_list_search {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .comps_list_search a, select, input {
    margin: 5px 0px;
  }

  .match_item {
    width: 80%;
  }
}

@media screen and (max-width:620px) {
  .comp_item_btns {
    width: 40%;
  }

  .match_item {
    width: 95%;
  }
  .match_item_home_team, .match_item_away_team {
    width: 42.5%;
    
  }
  .teams_list {
    width: 95%;
    font-size: 80%;
  }
  form {
    width: 95%;
  }
  .search_panel {
    font-size: 80%;
  }

}

@media screen and (max-width:500px) {
.comps_list {
  font-size: 80%;
}

.match_list {
  font-size: 80%;
}
.header_content {
  width: 100%;
}

}

@media screen and (max-width:400px) {
  .comps_list {
    font-size: 70%;
  }
  .comp_item_btns {
    width: 45%;
  }
  }

.no_matches {
  padding-top: 50vh;
  text-align: center;
}

.mainpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items:center;
}

@media screen and (max-width:300px) {
  .comps_list {
    font-size: 50%;
  }
  .comp_item_btns {
    width: 45%;
  }
  .comps_list_search{
    font-size: 50%;
  }
  
}

.no_matches {
  padding-top: 50vh;
  text-align: center;
}

